$main_background: linear-gradient(to right bottom, #2081c4, #4e96cf, #71abd9, #92c1e3, #b3d6ee, #c6e0f4, #d9eafa, #eaf4ff, #f1f6ff, #f7f9ff, #fcfcff, #ffffff);

// $main_font: Montserrat, sans-serif;
$main_font: Officina, serif;
$second_font:Lato, sans-serif;

$screen-xs: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl:1200px;