.btn{
    width: 100%;
    outline: none;
    background-color: $primary-color;
    border-radius: 20px;
    border: 1px solid $primary_color;
    cursor: pointer;
    &-submit{
        background-color: $secondary_color;
        color: $primary_color;
        transition: all 0.3s ease-in-out;
    }
}