.form{
    background-color: $primary-color;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    margin: auto;
    padding: 2rem 2rem;
    input{
        width: 100%;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid $secondary-color;
        outline: none;
        padding: 0.5rem;
    }
}