.menu{
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    &-branding{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: rgba($color: #fff, $alpha: 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        img{
            image-resolution: 300dpi;
            height: 100px;
            width: auto;
        }
    }
    &-nav{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        width: auto;
        list-style:none;
        font-weight: 400;
    }
}

.nav-item{
    margin: 1rem;
}

.nav-link{
    text-decoration: none;
    color: $black;
    outline: none;
    &:hover{
        border-bottom: 1px solid $black;
        transition: all 0.2s ease-in-out;
    }
}

.active{
    border-bottom: 1px solid $black;
}